*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.splide__pagination{
  display: none !important;
}

.splide__slide{
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .home {
    display: none !important;
  }
}