*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
.splide__pagination{
  display: none !important;
}

.splide__slide{
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .home,nav {
    display: none !important;
  }
  
}

.divMobile{
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.divMobile h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 28px;
}

.divMobile img{
  width: 80px;
  aspect-ratio: 1;
}


@media only screen and (max-width: 1200px) {
  
  .divMobile{
    display: flex;
  }
}

